$distance: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20); // Amount string.
$sides: (top, bottom, left, right); // Sides var

@each $amount in $distance {
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}#{$amount} {
            margin-#{$side}: #{$amount}rem ;
        }
        .p#{str-slice($side, 0, 1)}#{$amount} {
            padding-#{$side}: #{$amount}rem;
        }
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 12em;
    margin-bottom: 2em;
}

/* Height */

$height: (0, 25, 50, 75, 100); // Amount string.

@each $amount in $height {
    .h#{$amount} {
        min-height: #{$amount}vh;
    }
}

.h-auto {
    height:auto; /*Required for CSS Grid elements*/
    padding-bottom: 3em;
}

/* Typography */

$weight: (100, 200, 300, 400, 500, 600, 700, 800, 900); // Amount string.

@each $amount in $weight {
    .font#{$amount} {
        font-weight: #{$amount};
    }
}

/* Animation */

@-webkit-keyframes pulse {
    0% {
       opacity: 1.0;
    }
    50% {
       opacity: 0.1;
    }
    100% {
       opacity: 1.0;
    }
}

.slide-up {
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
    
    &.active {
        transform:translateY(0);
        opacity: 1;
    }
}

.slide-down {
    transform: translateY(-50px);
    opacity: 0;
    transition: all 1s ease;
    
    &.active {
        transform:translateY(0);
        opacity: 1;
    }
}

.slide-right {
    transform: translate(-100px, 50px);
    opacity: 0;
    transition: all 2s ease;
    
    &.active {
        transform:translate(0, 0);
        opacity: 1;
    }
}

.slow-fade {
    opacity:0;
    transition:opacity 3s ease;
    
    &.active {
        opacity:1;
    }
}

.delay{
    transition-delay: .3s;
}