body{
    background-image:url(../images/bg1.jpg);
}

.section{
    &__black{
        background-color:$black;
    }
    &__white{
        background-color:$white;
    }
    &__primary{
        background-color:$primary-color;
    }
    &__mustard{
        background-color:$secondary-color;
    }
    &__white-text{
        color:$white;
    }
    &__shadow{
        box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.28);
    }
}


.heading{
    margin:0;
    padding:0;
    line-height: 1;
    &__heading-font{
        font-family:$header-font-family;
    }
    &__alt-font{
        font-family:$header-alt-family;
    }
    &__body-font{
        font-family:$body-font-family;
    }
    &__xxl{
        font-size: rem-calc(120);
        @include breakpoint(medium) {
            font-size: rem-calc(78);
        }
        @include breakpoint(small) {
            font-size: rem-calc(56);
        }
    }
    &__xl{
        font-size: rem-calc(56);
        @include breakpoint(medium) {
            font-size: rem-calc(42);
        }
        @include breakpoint(small) {
            font-size: rem-calc(36);
        }
    }
    &__lg{
        font-size: rem-calc(42);
        @include breakpoint(medium) {
            font-size: rem-calc(36);
        }
        @include breakpoint(small) {
            font-size: rem-calc(24);
        }
    }
    &__md{
        font-size: rem-calc(24);
        @include breakpoint(medium) {
            font-size: rem-calc(20);
        }
        @include breakpoint(small) {
            font-size: rem-calc(18);
        }
    }
    &__white{
        color:$white;
    }
    &__primary{
        color:$primary-color;
    }
    &__caps{
        text-transform: uppercase;
    }
}

.btn{
    transition: all .3s;
    svg{
        transform: scale(1);
        transition: .3s;
        path{
            fill:$black;
            transition: .3s;
        }
    }
    span{
        display: inline-block;
        padding:rem-calc(10);
        transition: .3s;
    }
    &__black{
        svg{
            path{
                fill:$black;
            }
        }
        span{
            color:$white;
        }
    }
    &__red{
        svg{
            path{
                fill:$primary-color;
            }
        }
        span{
            color:$white;
        }
    }
    &__mustard{
        svg{
            path{
                fill:$secondary-color;
            }
        }
        span{
            color:$white;
        }
    }
    &:hover{
        svg{
            transform: scale(1.1);
            transition: .3s;
            path{
                fill:$medium-gray;
                transition: .3s;
            }
        }
        span{
            transform: scale(1.1);
            transition: .3s;
            color:$white;
        }
    }
    &__version1{
        span{
            padding-top:13%;
            padding-left:rem-calc(20);
            padding-right:rem-calc(45);
            min-width: rem-calc(250);
        }
    }
    &__version2{
        span{
            padding:rem-calc(10) rem-calc(70);
        }
    }
    &__version3{
        span{
            padding-top:6%;
            padding-bottom:rem-calc(10);
            padding-left:rem-calc(40);
            padding-right:rem-calc(60);
            min-width: rem-calc(200);
        }
    }
    &__version4{
        span{
            padding-top:6%;
            padding-bottom:rem-calc(10);
            padding-left:rem-calc(50);
            padding-right:rem-calc(50);
            min-width: rem-calc(200);
        }
    }
}

.remove-padding{
    p{
        padding:0;
        margin: 0;
    }
}

#announcements{
    color: $white;
    padding: 0.5em 0;
    .close-button{
        color: $white;
        top:0em;
    }
}

.header{
    position:fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    .menu{
        display: flex;
        align-items:center;
    }
    #top-bar-menu{
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
        position:relative;
        transition: all .3s;
        .top-bar{
            &__button{
                position:absolute;
                top: 50%;
                right: 1vw;
                transform: translateY(-50%);
                @include breakpoint(xlarge down) {
                    max-width: rem-calc(200);
                    right: 0;
                    a{
                        max-width: rem-calc(200);
                        margin-top: 5%;
                    }
                    span{
                        font-size: rem-calc(18);
                        padding:6% rem-calc(25) rem-calc(25) rem-calc(25);
                    }
                }
            }
        }
    }
    #main-logo{
        margin:0;
        max-width: rem-calc(350);
        transition: all .3s;
        svg{
            path{
                fill:$white;
            }
            line{
                stroke:$white;
            }
        }
    }
    #main-nav-container{
        width: 100%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        a{
            color: $white;
            transition: all .3s;
            &:hover{
                color:$primary-color;
                transition: all .3s;
            }
        }
    }
}

#side-social{
    position:fixed;
    top: 50vh;
    right: 0;
    z-index: 500;
    transform: translateY(-50%);
    transition:all .3s;
    border-radius:rem-calc(10) 0 0 rem-calc(10);
    ul{
        list-style: none;
        font-size: rem-calc(32);
        padding: rem-calc(10);
        margin: 0;
        li{
            a{
                color: $white;
                padding: rem-calc(10);
            }
        }
    }
    @include breakpoint(small) {
    display:none;
  }
}

.imageDiv{
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    &__square{
        width: 100%;
        padding-bottom:100%;
    }
    &__rotate{
        transform: rotate(10deg);
    }
    &__rotate-alt{
        transform: rotate(-10deg);
    }
    &__border-thick{
        border:20px solid $white;
        padding-bottom:calc(100% - 40px);
    }
    &__shadow{
        box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.32);
    }
}

.hero-carousel{
    &__container{
        background-size: cover;
        background-position:center;
        background-repeat:no-repeat;
        position:relative;
        &:before{
            position:absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom:0;
            z-index: 1;
            content: '';
            background-color:rgba($black, .55);
        }
    }
    &__content{
        position:relative;
        z-index: 2;
        max-width: 75vw;
        @include breakpoint(small only) {
            line-height:1.6;
      }
    }
    &__button{
        position:relative;
        display: inline-block;
        svg{
            position:absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }
        span{
            position:relative;
            z-index: 2;
        }
    }
    &__moose{
        width: 100%;
        position:relative;
        &:before{
            height: 2px;
            width: calc(50% - 175px);
            background-color:$white;
            position:absolute;
            top: 50%;
            left: 50%;
            content: '';
            transform: translateX(calc(-50% - 350px));
        }
        &:after{
            height: 2px;
            width: calc(50% - 175px);
            background-color:$white;
            position:absolute;
            top: 50%;
            right: 50%;
            content: '';
            transform: translateX(calc(50% + 350px));
        }
        svg{
            max-width: rem-calc(150);
            path{
                fill:$white;
            }
        }
    }
    &__buttons{
        width: 100%;
        position:relative;
        a{
            margin-left: rem-calc(10);
            margin-right: rem-calc(10);
        }
        &:before{
            height: 2px;
            width: calc(50% - 175px);
            background-color:$white;
            position:absolute;
            top: 50%;
            left: 50%;
            content: '';
            transform: translateX(calc(-50% - 350px));
        }
        &:after{
            height: 2px;
            width: calc(50% - 175px);
            background-color:$white;
            position:absolute;
            top: 50%;
            right: 50%;
            content: '';
            transform: translateX(calc(50% + 350px));
        }
    }
    .slick-arrow{
        position:absolute;
        top: 50%;
        z-index:2000;
        color: $white;
        font-size:rem-calc(26);
        border:2px solid $white;
        width: rem-calc(40);
        height: rem-calc(40);
        border-radius:50%;
        cursor: pointer;
        transition:all .3s;
        &:before{
            position:absolute;
            top: 50%;
            left: 50%;
        }
        &:hover{
            color: $secondary-color;
            border:2px solid $secondary-color;
            transition:all .3s;
        }
    }
    .slickPrev{
        left:8vw;
        &:before{
            transform: translate(-60%, -50%);
        }
    }
    .slickNext{
        right:8vw;
        &:before{
            transform: translate(-40%, -50%);
        }
    }
}
.offers-carousel{
    &__container{
        position:relative;
    }
    &__moose{
        max-width:rem-calc(100);
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        svg{
            path{
                fill:$black;
            }
        }
        @include breakpoint(xlarge down) {
           display: none;
        }
    }
    &__moose-left{
        left: rem-calc(-100);
    }
    &__moose-right{
        right: rem-calc(-100);
    }
}
.hours-stamp{
    position:relative;
    &__image{
        position:absolute;
        max-width: rem-calc(175);
        max-height:rem-calc(175);
        left:rem-calc(-135);
        top:rem-calc(-65);
        transform:rotate(-20deg);
        @include breakpoint(large down) {
            display: none;
      }
    }
}
.locationGallery{
    display: grid;
    grid-template-columns:repeat(4, 4fr);
    grid-gap: rem-calc(10);
}

.acf-map {
    width: 100%;
    height: rem-calc(600);
    border: #ccc solid 1px;
    margin: 20px 0;
}
.moose{
    display: flex;
    align-items:center;
    justify-content: center;
    svg{
        max-width: rem-calc(75);
        margin:rem-calc(20);
    }
    &__red{
        svg{
            path{
                fill: $primary-color;
            }
        }
    }
}
.blog{
    display: block;
    position:relative;
    width: 100%;
    overflow: hidden;
    &__container{
        @for $i from 1 to 20 {
            &:nth-of-type(#{$i}) { 
                transition-delay: 0.4 + ($i * 0.4s); 
            }
        } 
    }
    &__title{
        background-color:$primary-color;
        filter: grayscale(0);
        width: 120%;
        transform:rotate(-10deg) translate(-50%, -75%);
        position: absolute;
        top: 50%;
        left: 50%;
        transition:all .3s;
    }
    &__title-featured{
        background-color:$primary-color;
        filter: grayscale(0);
        width: 120%;
        transform:rotate(-10deg) translate(-51%, -75%);
        position: absolute;
        top: 30%;
        left: 50%;
        transition:all .3s;
        @include breakpoint(large down) {
            transform:rotate(-10deg) translate(-49%, -75%);
            top: 50%;
        }
    }
    &__content{
        top: 40%;
        position: absolute;
        width: 100%;
        color: $white;
        opacity: 0;
        transition:all .3s;
    }
    &__background{
        width: 100%;
        padding-bottom:110%;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        filter: grayscale(1);
        background-color: $primary-color;
        background-blend-mode: none;
        transition:all .3s;
    }
     &__background-featured{
        width: 100%;
        padding-bottom:33%;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        filter: grayscale(1);
        background-color: $primary-color;
        background-blend-mode: none;
        transition:all .3s;
        @include breakpoint(large down) {
            padding-bottom:110%;
        }
    }
    &__button{
        position:absolute;
        top: 80%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    &:hover{
        .blog{
            &__title{
                background-color:transparent;
                top: 20%;
                transition:all .3s;
            }
            &__title-featured{
                background-color:transparent;
                top: 5%;
                transition:all .3s;
            }
            &__content{
                opacity: 1;
                transition:all .3s;
            }
            &__background, &__background-featured{
                filter: grayscale(0);
                background-blend-mode: multiply;
                transition:all .3s;
            }
            &__button{
                opacity: 1;
            }
        }
    }
}

.testimonial_carousel{
    &__container{
        padding-top:7%;
        padding-bottom:7%;
    }
    &__skew{
        transform: skewY(-8deg);
    }
}

.tabs-title{
    padding-right: 1px;
    padding-bottom:1px;
    text-align: center;
    a{
        background-color:$black;
        text-transform:uppercase;
        transition: all .3s;
        height: 100%;
        display: flex;
        align-items:center;
        justify-content: center;
    }
}

// Fixes potential theme css conflict.
.acf-map img {
   max-width: inherit !important;
}
.aligncenter{
    margin-left: auto;
    margin-right: auto;
}

.footer{
    background-color:$black;
    color: $white;
    font-size:rem-calc(14);
    &__moose{
        max-width: rem-calc(125);
        margin-left: auto;
        margin-right: auto;
        svg{
            path{
                fill:$white;
            }
        }
    }
    #footer-links{
        justify-content: center;
        a{
            padding:rem-calc(5) rem-calc(20);
            color: $white;
            position:relative;
            &:after{
                height: rem-calc(10);
                width: 1px;
                content: '';
                background-color:$white;
                display: block;
                position:absolute;
                right: 0;
                top: 50%;
                transform: translateY(-40%);
            }
        }
        li{
            &:last-of-type{
                a{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
    #social{
        a{
            color: $white;
            font-size: rem-calc(42);
            margin-right: rem-calc(16);
        }
    }
}

.newsletter-button{
    height: rem-calc(63);
    width: 100%;
}

.text-sm-center{
    @include breakpoint(small only) { 
        text-align: center;
    }
}

.serpentine{
    @for $i from 1 to 20 {
        &:nth-of-type(#{$i}) { 
            transition-delay: 0.3 + ($i * 0.3s); 
        }
    }
}
.meal__container{
    @for $i from 1 to 20 {
        &:nth-of-type(#{$i}) { 
            transition-delay: 0.3 + ($i * 0.3s); 
        }
    }
}

.off-canvas{
    .close-button{
        color: $white;
    }
    &__toggle{
        color: $white;
        font-size:rem-calc(24);
    }
    &__moose{
        max-width: rem-calc(72);
        svg{
            path{
                fill:$white;
            }
        }
    }
    &__links{
        font-size:rem-calc(18);
        a{
            color: $white;
        } 
    }
}

.scrolled{
    #top-bar-menu{
        background-color:rgba($black, .75);
        transition: all .3s;
    }
    #main-logo{
        max-width: rem-calc(250);
        transition: all .3s;
    }
    #side-social{
        background-color:rgba($black, .75);
        transition: all .3s;
    }
}