/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/login.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
@font-face {
    font-family: 'aviatorsans';
    src: url('../fonts/aviator-sans-webfont.woff2') format('woff2'),
         url('../fonts/aviator-sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'parlour_sansregular';
    src: url('../fonts/parloursans-regular-webfont.woff2') format('woff2'),
         url('../fonts/parloursans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'urw_din_condregular';
    src: url('../fonts/urwdincond-regular-webfont.woff2') format('woff2'),
         url('../fonts/urwdincond-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body.login {
	font-family: 'urw_din_condregular', sans-serif;
}

#login {
	
}

// Change the login logo
.login h1 a {
    background: url(../images/logo.png);
	background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
	width: 326px;
	height: 150px;
	text-indent: -9999px;
	padding-bottom: 15px;
	display: block;
}

form {

}

body form .input {

}

// Login Button Style
#wp-submit {
	
}
